@media (max-width:375px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        width: 100%;
        height: fit-content;
        background-image: url(../images/bg-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        grid-template-columns: 1fr;
        grid-template-rows: 15% auto 15%;
        grid-template-areas: "head" "sec" "foot";
    }

    header {
        height: fit-content;
        width: 100%;
        grid-area: head;
        padding-left: 20px;
    }

    header img {
        height: 40px;
    }

    section {
        grid-area: sec;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        padding: 0px;
    }

    section .image {
        width: 100%;
        margin: 0px auto;
        width: 300px;
        height: 300px;
        margin: 0px auto;
    }

    section .disc {
        width: 100%;
        height: fit-content;
        padding: 20px;
        text-align: center;
    }

    section .disc h2 {
        display: block;
        height: fit-content;
        font-size: 30px;
        padding: 0;
    }

    section .disc .dtl {
        margin: 20px 0;
        height: fit-content;
    }

    section .disc .reg {
        width: 70%;
        height: fit-content;
        margin: 0px auto;
    }

    footer {
        width: 100%;
        height: fit-content;
        grid-area: foot;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .obj {
        width: 40px;
        height: 40px;
        padding: 10px;
    }
}